<footer class="container" id="wide">
  <section class="row">
    <div class="s4 foot-line-up">
      <p>&copy 2012 Готель-Ресторан «Варшава»</p>
      <p class="adress-mini">
        Україна, Львівська обл, с. Малехів, вул. Жовківська, 1
      </p>
    </div>

    <% foot_menu = footer_menu  %>
    <% if foot_menu && foot_menu.menu_items.count > 0 %>
        <div class="s8 foot-line-up" style="margin-left: 62px;">
          <ul id="foot-m">
            <% foot_menu.menu_items.each do |menu_item| %>
                <li>
                  <a href="<%= "/#{params[:locale]}#{menu_item.page.path}" %>" title="<%= menu_item.name.upcase %>"><%= menu_item.name.upcase %></a>
                </li>
            <% end %>

          </ul>
        </div>
    <% end %>
    <div class="push-foot" style="height: 30px;">&nbsp;</div>
    <div class="s4 vs-div foot-line-up">
      <%= image_tag("vs-logo.png", :alt => "") %>
      <p class="vs-studio">
        Зроблено в <a class="vs-link" href="http://voroninstudio.eu/" title="дизайн студії Миколи Вороніна">дизайн студії Миколи Вороніна</a> 
        <a class="vs-link" href="http://voroninstudio.eu/" title="Інформація про сайт">Інформація про сайт</a>
      </p>
    </div>
    <div class="s8 v-last foot-line-up adress-mini-hide-me-up">
      <p class="f-r">
        Україна, Львівська обл, с. Малехів, вул. Жовківська, 1
      </p>
    </div>
  </section>
</footer>
<div id="seo-text" style="display: none;">готель львів, львів готель, готель львов, львов готель, готель варшава, готелі львова, готель львів, львів готель, отели львова, львов отели, готель Варшава, hotel warszawa, hotel lviv</div>
<footer class="container f-small-or-tablets-line-up">
  <section id="row">
    <div class="s12 align-r">
      <ul id="" class="footer-tablets-menu">
        <li><a href="/about-hotel" title="ГОТЕЛЬ">ГОТЕЛЬ</a></li>
        <li><a href="/rooms" title="НОМЕРИ">НОМЕРИ</a></li>
        <li><a href="/restaurant" title="РЕСТОРАН">РЕСТОРАН</a></li>
        <li><a href="/services" title="ПОСЛУГИ">ПОСЛУГИ</a></li>
        <li><a href="/articles" title="АНОНСИ">АНОНСИ</a></li>
        <li><a href="/contact-us" title="КОНТАКТИ">КОНТАКТИ</a></li>
      </ul>
    </div>
    <div class="s12 align-r">
      <p>&copy 2012 Готель-Ресторан «Варшава»</p>
    </div>
    <div class="s12 align-r">
      <p>
        Україна, Львівська обл, с. Малехів, вул. Жовківська, 1
      </p>
    </div>
    <div class="s12 align-r">
      <%= image_tag("vs-logo.png", :alt => "") %>
      <p class="">
        Зроблено в <a class="vs-link" href="http://voroninstudio.eu/" title="дизайн студії Миколи Вороніна">дизайн студії Миколи Вороніна</a> 
        <a class="vs-link" href="http://voroninstudio.eu/" title="Інформація про сайт">Інформація про сайт</a>
      </p>
    </div>
  </section>
</footer>
</body>
</html>