<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="utf-8">
  <title>
    <% if 1 == 2 %>
        <% if cookies[:language] == "ukr" %><%= page_title %><% elsif cookies[:language] == "eng"  %><%= current_page.title_eng %><% else %><%= page_title %><% end %> //Готель львів//Готель варшава//Готелі львова//Львів готель
    <% else %>
        <%= @title %>
    <% end %>
  </title>
  <meta name="keywords" content="<%= @keywords %>" />
  <meta name="description" content="<%= @description %>" />

  <%= stylesheet_link_tag    "application", :media => "all" %>

  <link href="/assets/application.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/bootstrap.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/cms/articles.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/cms/banners.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/cms/galleries.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/cms/rooms.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/cms/services.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/cms/vacancies.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/flexslider.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/jquery.fancybox.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/media-tablets.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/skin.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/style.css?body=1" media="screen" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <%= javascript_include_tag "application_old" %>

  <meta name="google-site-verification" content="TMkyLisT1wu2GUyNoCsb4Q_soqLb9gkDlVg5ugAwyz4" />
  <meta name="google-site-verification" content="4o6Tbuv0f7R0dS7qQv7xF60E68DKfXhxEh-5fxWDMa4" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="icon" href="/assets/favicon.ico" type="image/ico" />
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/ico" />
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-icon-114.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-icon-72.png" />
  <link rel="apple-touch-icon" href="/assets/apple-icon-54.png" />
  <%# yield :html_head %>
  <meta name="studio" content="Дизайн студія Миколи Вороніна" />
  <meta name="art-director" content="Микола Воронін" />
  <meta name="web-developer" content="Калантаєвській Віктор" />
  <!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
  <!--[if IE]> <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> <![endif]-->
  <script type="text/javascript">
    var $buoop = {vs:{i:8,f:3.6,o:10.6,s:4,n:9}}
    $buoop.ol = window.onload;
    window.onload=function(){
     try {if ($buoop.ol) $buoop.ol();}catch (e) {}
     var e = document.createElement("script");
     e.setAttribute("type", "text/javascript");
     e.setAttribute("src", "http://browser-update.org/update.js");
     document.body.appendChild(e);
    }
  </script>

  <script type="text/javascript">
  $(window).load(function() {
    //<!-- flexslider -->
    $('.slide-me-dude').flexslider({
      randomize: true,
      directionNav: false
    });

    //<!-- gmap -->
  });

  function set_ukr(){
    $.cookie('language', 'ukr', { expires: 1 });
    window.location.reload();
  }
  function set_eng(){
    $.cookie('language', 'eng', { expires: 1 });
    window.location.reload();
  }

  function goToByScroll(id){
    $('html,body').animate({scrollTop: $("#"+id).offset().top},'slow');
  }

  </script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34722321-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body <%= request.env['HTTP_CACHE_CONTROL'] %> data="<%= request.env['HTTP_ACCEPT_ENCODING'] %>">
<style>
  .lang-row .lang{
      float: left;
      z-index: 2;
      position: relative;
  }
</style>
  <%# cms_toolbar %>
  <div class="browser-shadow-me"></div>
  <div class="lang-bar container" >

    <div class="row ">
      <div class="s3 lang-row">
    <div id="ukr" class="lang" data="language-selector">
      <%= link_to_if((params[:locale] != 'uk'), image_tag("ws-flag-ua.png", :alt => "Україньска мова", :class => "lang-img-shrink", :onclick => ""), "#{url_for(locale: :uk)}") %>
    </div>
    <div id="eng" class="lang" data="language-selector">
      <%= link_to_if((params[:locale] != 'en'), image_tag("ws-flag-uk.png", :alt => "English language", :class => "lang-img-shrink", :onclick => ""), "#{url_for(locale: :en)}") %>
    </div>
    <div id="pl" class="lang" data="language-selector">
      <%= link_to_if((params[:locale] != 'pl'), image_tag("Warshawa-PL.png", :alt => "Polish language", :class => "lang-img-shrink", :onclick => "", style: 'top: -8px; position: relative;'), "#{url_for(locale: :pl)}") %>
    </div>
    </div>
    </div>
  </div>
  <header id="header" class="container">
    <div class="row">
      <div class="lg s4">
        <% if !page || page.id != Pages::HomePage.first.id %>
        <a href="/" title="Вернутись на головну">
          <%= image_tag("logo.png", :alt => "Вернутись на головну") %>
        </a>
        <% else %>
          <%= image_tag("logo.png", :alt => "Вернутись на головну") %>
        <% end %>
      </div>

    </div>
    <div class="row">
      <nav class="of3 s9 nav-max">
        <% if main_menu && main_menu.menu_items.count > 0 %>
        <ul>
          <% main_menu_obj = main_menu %>
          <% about_menu_obj = about_menu %>
          <% if about_menu_obj %>
            <% about_menu_items = about_menu_obj.menu_items %>
            <% about_menu_item_page_ids = [] %>
            <% about_menu_items.each {|item| about_menu_item_page_ids.push(item.page.id) } %>
          <% end %>

          <% main_menu_obj.menu_items.each do |item| %>
            <% if page && (page.id == item.page.id || about_menu_item_page_ids.include?(page.id) && about_menu_item_page_ids.include?(item.page.id)) %>
              <li class="m-i active">
                <span class="back-item-active-me">
                  <a href="<%= "/#{params[:locale]}#{item.page.path}" %>" title="<%= item.name %>">
                    <%= item.name %>
                  </a>
                </span>
              </li>
            <% else %>
              <li class="m-i">
                <span class="back-for-li-item">
                  <a href="<%= "/#{params[:locale]}#{item.page.path}" %>" title="<%= item.name %>">
                    <%= item.name %>
                  </a>
                </span>
              </li>
            <% end %>
          <% end %>
        </ul>
        <% end %>
      </nav>
  </div><!-- /nav -->
  </header><!-- /header -->
  <div class="first-article-bg-full"></div>
