<% if @home_services && @home_services.count > 0  %>
<article id="service" class="row">
  <div class="s12">
    <h2 class="br-h">
      <a href="/services" title="ПОСЛУГИ">ПОСЛУГИ</a>
    </h2>
  </div>
  <% @home_services.each do |s| %>

  <div class="s3 s-max s-italic ">
    <a href="<%= "#{@services_page.path}#sr#{s.id}" %>" title="<%= s.name %>">
      <h3><img alt=">" class="h1-mr" src="/assets/h1-mr.png"><%= s.name %></h3>
    </a>
    <a href="<%= "#{@services_page.path}#sr#{s.id}" %>" title="<% s.name %>">
      <img alt="" class="br" src="<%= s.avatar.service_avatar_home.url %>" style="width: 100%;">
    </a>
    <p style="height: 8px; margin: 0;">&nbsp;</p>
    <div>
      <%= raw s.short_description %>
    </div>

  </div>
  <% end %>
</article>
<% end %>
