<%= render :partial => "partials/header" %>
<section id="wr" class="container">
    <div id="bring-me-up">
      <article id="about-us-page" class="row">
        <div class="s3 about-full-width">
          <ul id="about-us-nav">
            <li class="us-nav about-hide-element"><%= image_tag("crown-about.png") %></li>
            <li class="us-nav about-line-up-menu">
              <% if current_page.path == "/about-hotel" %>
                <%= image_tag("h1-mr.png", :alt => ">", :class => "nav-selector") %>
              <% else %>
                <div class="push-nav">&nbsp;</div>
              <% end %>
              <a href="/about-hotel" title="Про Готель">
                Про Готель
              </a>
            </li>
            <li class="us-nav about-line-up-menu">
              <% if current_page.path == "/rooms" %>
                <%= image_tag("h1-mr.png", :alt => ">", :class => "nav-selector") %>
              <% else %>
                <div class="push-nav">&nbsp;</div>
              <% end %>
              <a href="/rooms" title="Номери">Номери</a>
            </li>
            <li class="us-nav about-line-up-menu">
              <% if current_page.path == "/loyalty" %>
                <%= image_tag("h1-mr.png", :alt => ">", :class => "nav-selector") %>
              <% else %>
                <div class="push-nav">&nbsp;</div>
              <% end %>
              <a href="/prices" title="Ціни на проживання">Ціни</a>
            </li>
            <li class="us-nav about-hide-element"><%= image_tag("leavs-about.png") %></li>
          </ul>
        </div>
        <div class="s9 about-full-width">
          <div>
            <h1 class="about-h1">Номери</h1>
            <%= image_tag("rooms_new.jpg", :class => "br about-main-img") %>
          </div>
          <p class="about-header"><%= container :roomsheader %></p>
          <p class="about-header-sub1"><%= container :roomsheadersub1 %></p>
        </div>

          <div class="s3 about-full-width">&nbsp;</div>

            <%= container :roomsheadersub4 %>





      </article>

    </div>
    <div class="push-crown row">
        <div class="s5 br-h">&nbsp;</div>
        <div class="s2" style="text-align: center;"><%= image_tag("crown-end.png") %></div>
        <div class="s5 br-h crown-last-width">&nbsp;</div>
      </div>
</section>
<%= render :partial => "partials/footer" %>
