<%= render :partial => "partials/header" %>
<section id="wr" class="container">
    <div id="bring-me-up">
      <article id="services-page" class="row" >
        <!-- div class="s3 service-hide-space service-brign-right">&nbsp;</div -->
        <div class="s12 "><h1 class="service-h1 service-right-f">ПОСЛУГИ</h1></div>

        <div class="s3 about-full-width sr-push">
          <ul id="about-us-nav">
            <li class="us-nav about-hide-element"><%= image_tag("crown-about.png") %></li>

              <%# @services_line_up.each do |service| %>

              <%# end %>

            <li class="us-nav about-line-up-menu t-center">
              <a title="Конференц-зал" href="#sr6" onClick="">
                Конференц-зал
              </a>
            </li>
            <li class="us-nav about-line-up-menu t-center">
              <a title="Банкети" href="#sr9" onClick="">
                Банкети
              </a>
            </li>
            <li class="us-nav about-line-up-menu t-center">
              <a href="#sr8" title="Весілля">Весілля</a>
            </li>
            <li class="us-nav about-line-up-menu t-center">
              <a href="#sr5" title="Спа-центр">Спа-центр</a>
            </li>
            <li class="us-nav about-line-up-menu t-center">
              <a href="#sr10" title="Більярд">Більярд</a>
            </li>
            <li class="us-nav about-line-up-menu t-center">
              <a href="#sr12" title="Рибалка">Рибалка</a>
            </li>
            <!-- <li class="us-nav about-line-up-menu t-center">
              <a href="#sr11" title="Додаткові послуги">Додаткові</a>
            </li> -->
            <li class="us-nav about-hide-element"><%= image_tag("leavs-about.png") %></li>
          </ul>
        </div>
        <div class="s9 service-roll-up-full service-brign-left ">
          <div class="services-full-descr">
              <div>
  Готель-ресторан «Варшава» пропонує своїм гостям весь комплекс необхідних для якісного відпочинку послуг, що орієнтовані на будь-які смаки та вподобання.</div>
<br>
<div>
  До Ваших послуг:</div>
<br>
<ul>
  <li>
    24-годинна стійка реєстрації</li>
  <li>
    Персонал зі знанням іноземних мов</li>
  <li>
    Безкоштовний паркінг на 100 машин під цілодобовою охороною</li>
  <li>
    Безкоштовний доступ до швидкісного Wi-Fi Інтернету</li>
  <li>
    Професійне щоденне прибирання номерів</li>
  <li>
    Послуги прання та прасування</li>
  <li>
    Цілодобове ресторанне обслуговування в номерах (Room Service)</li>
  <li>
    Камера схову</li>
  <li>
    Додаткове ліжко та дитяче ліжечко</li>
  <li>
    Сніданок шведський стіл/континентальний</li>
  <li>
    Послуга «ранковий дзвінок» (Wake-up call)</li>
</ul>
<br>
<div>
  Наш кваліфікований персонал завжди готовий допомогти спланувати та організувати&nbsp;</div>

<div>
  Ваше перебування у Львові, а саме:</div>
<br>
<ul>
  <li>
    &nbsp;зустріч гостей, трансфер, виклик таксі;&nbsp;</li>
  <li>
    &nbsp;замовлення екскурсій за індивідуальною програмою;&nbsp;</li>
  <li>
    &nbsp;замовлення квитків у театри, кінотеатри, концертні зали;&nbsp;</li>
  <li>
    &nbsp;бронювання столиків у барах, ресторанах, кав'ярнях, пабах, нічних клубах;&nbsp;</li>
  <li>
    &nbsp;організація активного відпочинку: теніс, верхова їзда, ковзанка, пейнтбол, &nbsp; &nbsp; &nbsp; &nbsp;більярд, боулінг тощо.</li>
</ul>

            </div>
        </div>
        <%= container :serviceslist %>
      </article>

    </div>
    <div class="push-crown row">
        <div class="s5 br-h">&nbsp;</div>
        <div class="s2" style="text-align: center;"><%= image_tag("crown-end.png") %></div>
        <div class="s5 br-h crown-last-width">&nbsp;</div>
      </div>
</section>
<%= render :partial => "partials/footer" %>
